.inputfile-input-input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  width: 100%;
  cursor: pointer;
}

.inputfile-input-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  pointer-events: none;
  border: 3px dashed #666666;
  color: #666666;
  transition: all .3s ease
}

.inputfile-input-input:hover ~ .inputfile-input-cover {
  border: 3px dashed black;
  color: black;
}

