* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Segoe UI', 'Roboto', 'Tahoma', 'Verdana', sans-serif;
}

ul {
  display: flex;
  list-style-type: none;
}

.tab {
  cursor: pointer;
  margin-right: 20px;
}

.tab:last-child {
  margin-right: 0;
}

.tab--selected {
  font-weight: bold;
}